<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Link to the Comic Mono font stylesheet from jsDelivr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/index.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            <li><a href="https://github.com/as2241">github.com/as2241</a></li>
            <li><a href="https://as2241.github.io">as2241.github.io</a></li>
        </ul>
    </footer>
</body>

</html>